<div id="cl-wrapper">
  <div class="container-fluid" id="pcont">
   <!-- TOP NAVBAR -->
    <div id="head-nav" class="topbar navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <div class="sidebar-logo">
            <div class="logo">
                <a href="index2.html"></a>
            </div>
          </div>
          <ul class="nav navbar-nav horizontal">
            {{#if session.isAuthenticated}}
              <li>{{#link-to 'tickets'}}Tickets{{/link-to}}</li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right user-nav">
            <li class="dropdown profile_menu">
              {{#if session.isAuthenticated}}
                <a href="#" {{action 'logout'}}>Logout</a>
              {{/if}}
            </li>
          </ul>
        </div><!--/.nav-collapse animate-collapse -->
      </div>
    </div>

    
    <div class="cl-mcont">
      {{outlet}}
    </div>
  
  </div>
</div>

