<div class="login-container">
  <div class="middle-login">
    <div class="block-flat">
      <div class="header">              
        <h3 class="text-center"><img class="logo-img" src="images/logo.png" alt="logo"/></h3>
      </div>
      <div>
        {{login-form}}
      </div>
    </div>
    <div class="text-center"><a href="#">&copy; 2016 Tickr</a></div>
  </div> 
</div>
